body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;  /* На всю высоту экрана */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}

.welcome {
  background: #445162;
  padding: 50px 0;
}

.welcome_row {
  display: flex;
  justify-content: space-between;
}

.welcome_body {
  color: #ffffff;
  padding: 0 20px 0 0;
}

.welcome_title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  margin: 0 0 40px 0;
}

.welcome_list li {
  background: url('../img/icons/check_icon_348.png') 0 1px no-repeat;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 22px;
  padding: 0 0 0 36px;
  margin: 0 0 15px 0;
}

.welcome_list li:last-child {
  margin: 0;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.what {
  padding: 50px 0;
}

.what_row {
  display: flex;
}

.what_image {
  flex: 0 0 430px;
}

.what_image img {
  max-width: 100%; /* Любая картинка не будет больше чем 430 пикселей (см. выше) */
}

.what_body {
  flex: 1 1 auto;
  padding: 0 0 0 38px;
}

.what_title {
  margin: 0 0 33px 0;
}

.what_text p {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 25px 0;
}

.what_text p:last-child {
  margin: 0;
}

.columns {
  background: #f5f5f5;
  padding: 50px 0 20px 0;
}

.columns_title {
  text-align: center;
  margin: 0 0 30px 0;
}

.columns_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;  /* Таким образом мы нивелируем отступ в 8. То есть внешнего отступа у блока в целом не будет */
}

.columns_column {
  flex: 0 1 50%;  /* Запрещаем увеличиваться, разрешаем уменьшаться, базовый размер 50% */
  margin: 0 0 30px 0;
  padding: 0 8px;
}

.item_row {
  display: flex;
}

.item_image {
  flex: 0 0 200px;
}

.item_body {
  flex: 1 1 auto;
  padding: 0 0 0 15px;
}

.item_title {
  color: #445161;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 13px 0;
}

.item_text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.vertical {
  padding: 50px 0;
}

.vertical_title {
  text-align: center;
  margin: 0 0 30px 0;
}

.vertical_body {
  max-width: 990px;
  margin: 0 auto;
}

.vertical_row {
  display: flex;
  margin: 0 -22.5px;
}

.vertical_column {
  flex: 0 1 33.333%;
  padding: 0 22.5px;
  display: flex;
}

.vertical_item {
  background: #445162;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #445162;
  padding: 0 0 20px 0;  /* Для отступа под кнопками */
  display: flex;
  flex-direction: column;
}

.vertical_subtitle {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  padding: 12px 0;
}

.vertical_label {
  text-align: center;
  background: #ffffff;
  color: #445162;
  padding: 15px 0;
  font-size: 40px;
}

.vertical_text {
  padding: 20px;
  line-height: 24px;
  flex: 1 1 auto;
}

.vertical_text p {
  margin: 0 0 15px 0;
}

.vertical_text p:last-child {
  margin: 0;
}

.vertical_button {
  display: block;
  height: 40px;
  background: #ffffff;
  margin: 0 20px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
}

.footer {
  background: #f5f5f5;
}

.footer_row {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}

.footer_text {
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
}
